--
-- PostgreSQL database cluster dump
--

SET default_transaction_read_only = off;

SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;

--
-- Drop databases (except postgres and template1)
--

DROP DATABASE operacional;




--
-- Drop roles
--

DROP ROLE laboratorio;


--
-- Roles
--

CREATE ROLE laboratorio;
ALTER ROLE laboratorio WITH SUPERUSER INHERIT CREATEROLE CREATEDB LOGIN REPLICATION BYPASSRLS PASSWORD 'SCRAM-SHA-256$4096:A4mCI7GWaPi5tPd8HJTg9g==$ocsAmF1T2cqyi/ksUmDd3uCHsi+pUedXYS821tIxVHg=:YB95dbG0ZQK0a3/C03/uEpCEBSrTaYGXFEfteeTbXjg=';






--
-- Databases
--

--
-- Database "template1" dump
--

--
-- PostgreSQL database dump
--

-- Dumped from database version 14.3 (Debian 14.3-1.pgdg110+1)
-- Dumped by pg_dump version 14.3 (Debian 14.3-1.pgdg110+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

UPDATE pg_catalog.pg_database SET datistemplate = false WHERE datname = 'template1';
DROP DATABASE template1;
--
-- Name: template1; Type: DATABASE; Schema: -; Owner: laboratorio
--

CREATE DATABASE template1 WITH TEMPLATE = template0 ENCODING = 'UTF8' LOCALE = 'en_US.utf8';


ALTER DATABASE template1 OWNER TO laboratorio;

\connect template1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: DATABASE template1; Type: COMMENT; Schema: -; Owner: laboratorio
--

COMMENT ON DATABASE template1 IS 'default template for new databases';


--
-- Name: template1; Type: DATABASE PROPERTIES; Schema: -; Owner: laboratorio
--

ALTER DATABASE template1 IS_TEMPLATE = true;


\connect template1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: DATABASE template1; Type: ACL; Schema: -; Owner: laboratorio
--

REVOKE CONNECT,TEMPORARY ON DATABASE template1 FROM PUBLIC;
GRANT CONNECT ON DATABASE template1 TO PUBLIC;


--
-- PostgreSQL database dump complete
--

--
-- Database "operacional" dump
--

--
-- PostgreSQL database dump
--

-- Dumped from database version 14.3 (Debian 14.3-1.pgdg110+1)
-- Dumped by pg_dump version 14.3 (Debian 14.3-1.pgdg110+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: operacional; Type: DATABASE; Schema: -; Owner: laboratorio
--

CREATE DATABASE operacional WITH TEMPLATE = template0 ENCODING = 'UTF8' LOCALE = 'en_US.utf8';


ALTER DATABASE operacional OWNER TO laboratorio;

\connect operacional

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: alunos; Type: TABLE; Schema: public; Owner: laboratorio
--

CREATE TABLE public.alunos (
    mat_alu bigint,
    nome text,
    dat_entrada timestamp without time zone,
    cod_curso bigint,
    cotista text
);


ALTER TABLE public.alunos OWNER TO laboratorio;

--
-- Name: cursos; Type: TABLE; Schema: public; Owner: laboratorio
--

CREATE TABLE public.cursos (
    cod_curso bigint,
    nom_curso text,
    cod_dpto bigint
);


ALTER TABLE public.cursos OWNER TO laboratorio;

--
-- Name: departamentos; Type: TABLE; Schema: public; Owner: laboratorio
--

CREATE TABLE public.departamentos (
    cod_dpto bigint,
    nome_dpto text
);


ALTER TABLE public.departamentos OWNER TO laboratorio;

--
-- Name: disciplinas; Type: TABLE; Schema: public; Owner: laboratorio
--

CREATE TABLE public.disciplinas (
    cod_disc bigint,
    nome_disc text,
    carga_horaria double precision
);


ALTER TABLE public.disciplinas OWNER TO laboratorio;

--
-- Name: matriculas; Type: TABLE; Schema: public; Owner: laboratorio
--

CREATE TABLE public.matriculas (
    semestre bigint,
    mat_alu bigint,
    cod_disc bigint,
    nota double precision,
    faltas bigint,
    status text
);


ALTER TABLE public.matriculas OWNER TO laboratorio;

--
-- Name: matrizes_cursos; Type: TABLE; Schema: public; Owner: laboratorio
--

CREATE TABLE public.matrizes_cursos (
    cod_curso bigint,
    cod_disc bigint,
    periodo bigint
);


ALTER TABLE public.matrizes_cursos OWNER TO laboratorio;

--
-- Data for Name: alunos; Type: TABLE DATA; Schema: public; Owner: laboratorio
--



--
-- Data for Name: cursos; Type: TABLE DATA; Schema: public; Owner: laboratorio
--

COPY public.cursos (cod_curso, nom_curso, cod_dpto) FROM stdin;
26	Ciencia da Computacao - Tarde/Noite	2
52	Sistemas de Informacao - Noite	2
44	Enfermagem - Tarde/Noite	2
4	Direito Noturno	2
35	Odontologia - Integral	1
131	Arquitetura e Urbanismo - Manha	1
95	Informatica e Aplicacoes Web - Manha	1
125	Sistemas Para Internet - Manha	1
103	Sistemas Para Internet - Noite	1
123	Petroleo e Gas - Noite	1
13	Direito Diurno	1
\.


--
-- Data for Name: departamentos; Type: TABLE DATA; Schema: public; Owner: laboratorio
--

COPY public.departamentos (cod_dpto, nome_dpto) FROM stdin;
1	DEP1
2	DEP2
3	DEP3
4	DEP4
5	DEP5
\.


--
-- Data for Name: disciplinas; Type: TABLE DATA; Schema: public; Owner: laboratorio
--



--
-- Data for Name: matriculas; Type: TABLE DATA; Schema: public; Owner: laboratorio
--



--
-- Data for Name: matrizes_cursos; Type: TABLE DATA; Schema: public; Owner: laboratorio
--



--
-- PostgreSQL database dump complete
--

--
-- Database "postgres" dump
--

--
-- PostgreSQL database dump
--

-- Dumped from database version 14.3 (Debian 14.3-1.pgdg110+1)
-- Dumped by pg_dump version 14.3 (Debian 14.3-1.pgdg110+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

DROP DATABASE postgres;
--
-- Name: postgres; Type: DATABASE; Schema: -; Owner: laboratorio
--

CREATE DATABASE postgres WITH TEMPLATE = template0 ENCODING = 'UTF8' LOCALE = 'en_US.utf8';


ALTER DATABASE postgres OWNER TO laboratorio;

\connect postgres

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: DATABASE postgres; Type: COMMENT; Schema: -; Owner: laboratorio
--

COMMENT ON DATABASE postgres IS 'default administrative connection database';


--
-- PostgreSQL database dump complete
--

--
-- PostgreSQL database cluster dump complete
--

